@deviceWidth: 192;
@buttonSize: 46;
@screenColor: rgb(145, 145, 145);
@viewTitleBgColor: #455369;
@viewTitleColor: #13ff00;
@viewBgColor: #1e4e02;
@menuBgColor: transparent;
@menuColor: #d8d800;
@activeMenuBgColor: #ededed;
@activeMenuColor: #000000;
@topPanelBgColor: #1e4e02;
@bottomPanelBgColor: @viewBgColor;

#device-wrapper {
	font-family: Arial;
	font-size: 14px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	.device {
		width: unit(@deviceWidth, px);
		height: 577px;
		background: url('../img/device.png') no-repeat;
		position: relative;
		z-index: 5;
	}

	.screen-wrapper {
		@screenWidth: 128;
		position: absolute;
		width: unit(@screenWidth, px);
		height: 160px;
		left: unit((@deviceWidth -  @screenWidth) / 2, px);
		top: 65px;
		background: @screenColor;
		display: none;
		
		.top-panel {
			height: 15px;
			background: @topPanelBgColor;

			.battery {
				width: 20px;
				height: 15px;
				position: absolute;
				top: 0;
				right: 15px;

				&.full {
					background: url('../img/battery-full.png') no-repeat;
				}
			}

			.list-indicator {
				width: 20px;
				height: 15px;
				position: absolute;
				top: 0;
				left: 3px;
				background: url('../img/list-indicator.png') no-repeat 0 0;

				&.up {
					background-position: -20px 0;
				}

				&.down {
					background-position: -40px 0;
				}

				&.both {
					background-position: -60px 0;
				}
			}
		}

		.bottom-panel {
			height: 15px;
			background: @bottomPanelBgColor;
		}

		.screen {

			.view {
				height: 130px;
				background: @viewBgColor;

				.title {
					height: 15px;
					border-top: 2px white solid;
					background: @viewTitleBgColor;
					color: @viewTitleColor;
					padding-left: 10px;
				}

				.menu {

					li {
						height: 17px;
						line-height: 17px;
						color: @menuColor;
						background: @menuBgColor;
						margin-bottom: 1px;

						&.active {
							color: @activeMenuColor;
							background: @activeMenuBgColor;
						}

						span {
							padding-left: 2px;
						}

						span.text {
							float: right;
							color: #FF0000;
							padding: 0;
						}

						span.checkbox {
							display: block;
							width: 17px;
							height: 17px;
							background: url('../img/checkbox.png') 0 0 no-repeat;
							float: right;
							padding: 0;

							&.checked {
								background-position: -17px 0;
							}
						}
					}	
				}
			}
		}
	}

	.cap {
		width: unit(@deviceWidth, px);
		height: 177px;
		position: absolute;
		left: 0;
		top: 431px;
		cursor: pointer;
		transition: top .5s;
		-webkit-transition: top .5s;

		&.opened {
			top: 590px;			
		}

		.top {
			background: url('../img/cap-top.png') no-repeat;
			width: 100%;
			height: 162px;
			z-index: 10;
			position: relative;
		}

		.bottom {
			width: 100%;
			height: 15px;
			background: url('../img/cap-bottom.png') no-repeat;
			z-index: 0;
			position: relative;
		}
	}

	.button {
		background: transparent;
		width: unit(@buttonSize, px);
		height: unit(@buttonSize, px);
		position: absolute;
		cursor: pointer;
		border-radius: unit(@buttonSize / 2, px);

		&.up,
		&.down,
		&.center {
			left: 73px;
		}

		&.up {
			top: 256px;
		}

		&.down {
			top: 380px;
		}

		&.center {
			top: 320px;
		}

		&.left,
		&.right {
			top: 320px;
		}

		&.left {
			left: 12px;
		}

		&.right {
			right: 12px;
		}
	}
}