@deviceWidth: 192;
@buttonSize: 46;
@screenColor: rgb(145, 145, 145);
@viewTitleBgColor: #455369;
@viewTitleColor: #13ff00;
@viewBgColor: #1e4e02;
@menuBgColor: transparent;
@menuColor: #d8d800;
@activeMenuBgColor: #ededed;
@activeMenuColor: #000000;

#device-wrapper {
	font-family: Arial;
	font-size: 14px;

	.device {
		width: unit(@deviceWidth, px);
		height: 577px;
		background: url('../img/device.png') no-repeat;
		position: relative;
		z-index: 5;
	}

	.screen {
		@screenWidth: 128;
		position: absolute;
		width: unit(@screenWidth, px);
		height: 160px;
		left: unit((@deviceWidth -  @screenWidth) / 2, px);
		top: 65px;
		background: @screenColor;

		.view {
			height: 130px;
			background: @viewBgColor;

			.title {
				height: 15px;
				border-top: 2px white solid;
				background: @viewTitleBgColor;
				color: @viewTitleColor;
				padding-left: 10px;
			}

			.menu {

				li {
					height: 17px;
					line-height: 17px;
					color: @menuColor;
					background: @menuBgColor;

					&.active {
						color: @activeMenuColor;
						background: @activeMenuBgColor;
					}

					span {
						padding-left: 2px;
					}

					span.text {
						float: right;
						color: #FF0000;
						padding: 0;
					}
				}	
			}
		}
	}

	.cap {
		width: unit(@deviceWidth, px);
		height: 177px;
		position: absolute;
		left: 0;
		top: 431px;
		cursor: pointer;
		transition: top .5s;

		&.opened {
			top: 590px;			
		}

		.top {
			background: url('../img/cap-top.png') no-repeat;
			width: 100%;
			height: 162px;
			z-index: 10;
			position: relative;
		}

		.bottom {
			width: 100%;
			height: 15px;
			background: url('../img/cap-bottom.png') no-repeat;
			z-index: 0;
			position: relative;
		}
	}

	.button {
		background: transparent;
		width: unit(@buttonSize, px);
		height: unit(@buttonSize, px);
		position: absolute;
		cursor: pointer;
		border-radius: unit(@buttonSize / 2, px);

		&.up,
		&.down,
		&.center {
			left: 73px;
		}

		&.up {
			top: 256px;
		}

		&.down {
			top: 380px;
		}

		&.center {
			top: 320px;
		}

		&.left,
		&.right {
			top: 320px;
		}

		&.left {
			left: 12px;
		}

		&.right {
			right: 12px;
		}
	}
}