<!DOCTYPE html>
<html>	
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 		<title>Dosimetr 01M</title>
 		<link rel="stylesheet" type="text/css" href="css/reset.css">
 		<link rel="stylesheet" type="text/css" href="css/style.css">
 		<script type="text/javascript" src="js/lib/requirejs/require.js"></script>
 		<script type="text/javascript" src="js/config.js"></script>
 		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<div id="device-wrapper">
			<div class="device">
				<div class="screen-wrapper">
					<div class="top-panel"></div>
					<div class="screen"></div>
					<div class="bottom-panel"></div>
				</div>
				<div class="button left"></div>
				<div class="button right"></div>
				<div class="button center"></div>
			</div>
			<div class="cap">
				<div class="bottom"></div>
				<div class="top"></div>
			</div>
			<div class="product"></div>
			<audio>
 				<source src="sounds/beep.ogg" type="audio/ogg; codecs=vobis"/>
 				<source src="sounds/beep.wav" type="audio/wav"/>
 			</audio>
		</div>
		<script type="text/template" id="splash-screen-template">
    	<div class="view splash">
    		<img src="img/splash.png"/>
  	  </div>
 		</script>
		<script type="text/template" id="menu-template">
 			<div class="view">
 				<div class="title"><span><%=t(title)%></span></div>
 				<ul class="menu"></ul>
 			</div>
 		</script>
 		<script type="text/template" id="menu-item-template">
			<span><%=t(item.title)%></span>
			<% if(item.text) { %>
				<span class="text"><%=t(item.text)%></span>
			<% } else if(item.options.checkbox) { %>
				<span class="checkbox<%=(item.checked ? ' checked' : '')%>"></span>
			<% } %>
 		</script>
 		<script type="text/template" id="top-panel-template">
 			<div class="list-indicator"></div>
 			<ul class="activity-graph"></ul>
 			<div class="battery full"></div>
 			<div class="activity-indicator">
 				<div class="indicator"></div>
 				<div class="last-button-icon"></div>
 			</div>
 		</script>
 		<script type="text/template" id="bottom-panel-template">
 			<div class="soft-button left"><%=t('cursor')%></div>
 			<div class="soft-button center"><%=t('menu')%></div>
 			<div class="soft-button right"><%=t('select')%></div>
 		</script>
 		<script type="text/template" id="info-screen-template">
 			<div class="view information">
 				<div class="title"><span><%=t(title)%></span></div>
 				<p style="background: #000; color: #13ff00; text-align: center;"><%=t('E C O<br/>Devices')%></p>
 				<p style="background: #052ae5; color: #FFF; text-align: center; border-top: 1px solid #000;">SOEKS</p>
 				<p style="background: #052ae5; color: #FFF; text-align: center; border-top: 1px solid #000;"><%=t('Information')%></p>
 				<p style="background: #052ae5; color: #FFF; text-align: center; border-top: 1px solid #000;"><%=t('on the Web:')%></p>
 				<p style="color: #f00803; text-align: center;">www.soeks.ru</p>
 				<p style="color: #d8d800; text-align: center;">+7(495)223 27 27</p>
 			</div>
 		</script>
 		<script type="text/template" id="measurement-screen-template">
 			<div class="view measurement <%=tag%>">
 				<div class="title"><span><%=t(title)%></span></div>
 				<div class="data">
 					<p class="unit"><%=t('Backgr.,')%><span><%=t(unit)%></span></p>
 					<div class="graph readiness">
 						<div class="indicator" style="height: <%=readiness%>%"></div>
 					</div>
 					<div class="graph accuracy">
 						<div class="indicator" style="height: <%=accuracy%>%"></div>
 					</div>
 					<p class="value"><%=value%></p>
 					<p class="level"><%=level%></p>
 				</div>
				<p class="msg"><%=t(msg)%></p>
 			</div>
 		</script>
	</body>
</html>